@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

ol.lower-alpha-list{
	list-style-type: lower-alpha;
}

footer{
	margin-top: 1em;
	text-align: right;
}

footer p{
	font-variant: small-caps;
}
